[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PFLR"]
	path = PFLR
	url = https://github.com/cran/PFLR
[submodule "STARTdesign"]
	path = STARTdesign
	url = https://github.com/cran/STARTdesign
[submodule "clogitboost"]
	path = clogitboost
	url = https://github.com/cran/clogitboost
